table.list td, table.list th {
  vertical-align: middle;
}
td.name, td.username, td.firstname, td.lastname, td.email {
  text-align: center;
}
table#time-report td,
table#time-report th {
  text-align: left;
}
table.list thead tr th span.hours {
  color: #fff !important;
}
